{
"presets": ["@babel/preset-env"],
  "plugins": [
    
    [
      "i18next-extract",
      {
        "keyAsDefaultValue": ["en"],
        "defaultNS": "common",
        "outputPath": "src/locales/{{locale}}/{{ns}}.json"
      }
    ],
    "@babel/plugin-transform-react-jsx"
  ]
}
