# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/lib
.eslintcache
/.pnp
.pnp.js

# testing
/coverage

# production
src/locales/**/eci.json
/src/locales/common.json
/src/locales/en/campaign.json
/build
/dist
/d
/config
/config.*
/src/tmp.config
# misc
.DS_Store
.cache
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
.envrc
.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
*.workspace
