<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    
    <meta name="twitter:title" content="<%= campaign %>" />
<title><%= campaign %></title>
<meta name="twitter:title" content="Sign the ECI" />

<meta name="description" content="Sign the ECI!" />
<meta name="twitter:description" content="Sign the ECI" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@eucampaign" />
<meta name="twitter:image" content="%PUBLIC_URL%/logo.png" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
  html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   nope.font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  }
</style>
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    -->
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
<minimal-style style="display:none">
  .proca-widget, #signature-form {max-width:600px;min-width:300px}

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
  }

.col{
  display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding:0 10px;
  flex:1;
}

pre {background:#dede; padding: 10px}

</minimal-style>
<style>
  body {padding-top:5rem;}

</style>

  </head>
  <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand eci-title" href="#"><%= campaign %></a>
    </nav>
    <noscript
      >You need to enable JavaScript to participate to this campaign.</noscript
    >
    <div id="root" class="container">
           <h2 class="eci-name">...</h2>
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
           <h3 class="eci-title">...</h3>
           <div class="eci-description"></div>
<div class="eci-more"></div>
          </div>
</div>
        <div class="col">
          <div class="proca-widget" id="signature-form" >
          </div>
            

        </div>
      </div>
    </div>

    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  <script>

  </script>
  </body>
</html>
