<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.proca.lang %>">
  <head>
    <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link
      rel="alternate"
      type="application/json+oembed"
      href="/d/<%= htmlWebpackPlugin.options.title %>/oembed.json"
      title="Embed JSON"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
</style>
  </head>
  <body>
    <div class="proca-widget"></div>
  </body>
</html>
